@import url("https://use.typekit.net/hvj6ivr.css");
body{
    background-color: rgb(70,40,40);
    color: whitesmoke;

    background-image: url("../img/forest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode:hard-light;

}

main {
    text-shadow:rgba(0, 0, 0, 0.3) 0 1px 3px;
}

main > p {
    background-color: rgba(0,0,0,0.4);
    border-radius: 30px;
    margin: auto;
    margin-bottom: 30px;
    width: 30%;
    padding: 30px;
    font-size: 1.4em;
    font-family: 'delve-hand', serif;
    line-height: 35px;
}
.heading{
    font-size: 6em;
    text-align: center;
    font-family: 'Creepster', cursive;
    text-shadow:rgba(0, 0, 0, 0.8) 0 1px 3px;
}
img{
  width: 500px;
  margin-left:560px;
  margin-bottom: 30px;
  opacity: 0.5;
  border-radius: 50%;
}
